<%= simple_form_for([@bike, @booking]) do |f| %>
    <div class="form-wrapper">
	    <h4>Choose your dates</h4>
	    <%= f.input :start_at, as: :string, required: false, input_html: {class: "datepicker"} %>
	    <%= f.input :end_at, as: :string, required: false, input_html: {class: "datepicker"} %>
	    <%= f.button :submit, "Go", class: "btn btn-primary" %>
	</div>
<% end %>
