<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-8">
      <h1>Add a new booking</h1>
        <%= render "form", booking: @booking %>
    </div>
  </div>
  <%= link_to 'Home page', root_path %>
</div>
