<div class="container my-5">
  <div class="row">
    <div class="col">
      <div class="cards">
        <% @bike.bookings.each do |booking| %>
          <div class="card-category">
            <%= bike.name %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
  <%= link_to 'Home page', root_path %>
</div>
