.card-bike-show {
  margin-top: 10px;
  height: 500px;
  padding: 20px;
  width: 100%;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  background-color: white;
  display: flex;
  .bike-image{
    display: flex;
    justify-content: center;
    height: 100%;
    width: 40%;
  }
  .description {
    padding-left: 10px;
    display: flex;
    width: 60%;
    flex-direction: column;
    justify-content: space-between;
    h6 {
      font-size: 20px;
    }
    .title {
      text-align: center;
    }
    .footer-card {
      display: flex;
      justify-content: space-around;
      .avatar {
        height: 100%;
        width: 90px;
      }
    }
  }
}


.card-trip .card-trip-infos {
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
}

.card-trip-infos .card-trip-user {
  position: absolute;
  right: 16px;
  top: -20px;
  width: 40px;
}

.card-trip{
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  padding: 20px;
  display: flex;
  justify-content: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 1000px;
  height: 500px;
  margin: 0 auto;
  h5 {
    font-size: 30px;
    padding-left: 30px;
    padding-top: 10px
  }
  h6 {
    font-size: 20px;
    padding-left: 10px;
  }
  p {
    padding-left: 10px;
    font-size: 12px;
    opacity: .7;
    margin: 0;
  }
  h2 {
    padding-left: 10px;
    font-size: 16px;
    font-weight: bold;
    margin: 0;
  }
  .bike-pic{
    height: 400px;
    width: 100%;
    object-fit: cover;
  }
}

.bike-card {
  background-size: cover;
  background-position: center;
  background-color: #f6f6f6;
  width: 100%;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0,0,0,0.3);
  img {
    height: 200px;
    width: 100%;
    padding: 10px;
  }
  h5 {
  font-size: 22px;
  padding-left: 10px;
  }
  h6 {
  font-size: 16px;
  padding-left: 10px;
  }
  p {
  padding-left: 10px;
  }
  i {
  padding-left: 10px;
  }

  .bike-card-actions {
  padding-left: 10px;
  }
  a {
    font-size: 14px;
    color: red;
    text-decoration: none;
  }
}
